* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: lightsalmon;
	font-family: Montserrat, sans-serif;
}

.bar {
	background-color: teal;
	/* height: 45px; */
	padding: 1.5rem 0px;
}

a,
a:visited {
	text-decoration: none;
}

ul {
	margin-left: 2rem;
}

.navs {
	display: inline;
	padding: 0px 25px;
	color: lightsalmon;
}

div.banner {
	padding: 15% 0;
}

#club-name {
	text-align: center;
	padding: 1em;
	margin-bottom: 3rem;
	font-size: 2em;
	color: lightsalmon;
	background-color: rgba(107, 31, 31, 0.7);
}

.summary,
.images {
	padding: 0px 15px;
	margin: 55px 0;
}

.what-you-do {
	margin: 20px 0;
	color: yellow;
}

.white {
	color: white;
	margin: 0.6em 0;
}

span {
	color: blue;
	text-decoration: underline;
}

.images {
	display: block;
	width: 100%;
}

.images img {
	width: 31%;
	margin: 1%;
}

.testimonial {
	color: yellow;
	background-color: teal;
	padding: 0 20px;
	height: 18rem;
}

.testimonial h1 {
	padding: 30px 0;
}

.meetup {
	width: 70%;
	margin: 1.5rem auto;
	align-content: center;
}

.meetup img {
	width: 70%;
	height: auto;
	display: block;
	margin: 25px auto;
}

.meetup h2 {
	color: yellow;
	font-size: 1.75rem;
	text-align: center;
}

@media only screen and (max-width: 1048px) {
	.images {
		padding: 0;
	}

	.images img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 640px) {
	.bar {
		padding: 10px;
	}

	.navs {
		display: block;
		text-align: center;
		margin: 5px 0;
	}

	.banner {
		max-height: 200px;
	}

	.banner h1 {
		margin-top: 2rem;
	}

	.images {
		display: block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 320px) {
	.testimonial h1 {
		font-size: 2rem;
	}
}
